{#
/**
 * @file
 * Cookiebot blocked message placeholder for elements like iframes
 * which are disabled via data-src  by cookiebot until consent is given.
 *
 * Available variables:
 * - content: The message content.
 * - attributes: Wrapper attributes.
 * - inner_attributes: Inner wrapper attributes.
 */
#}
{%
  set classes = [
    'cookiebot',
    'cookieconsent-optout-marketing'
  ]
%}
{%
  set inner_classes = [
    'cookieconsent-optout-marketing__inner'
  ]
%}
<div{{attributes.addClass(classes)}}>
	<div{{inner_attributes.addClass(inner_classes)}}>
		{{ content }}
	</div>
</div>
