/* Cookie concent banner */
.eu-cookie-compliance-content {
    margin: 0 auto;
    max-width: 80%;
    display: inline-block;
    text-align: left;
    /* width: 100%; */
}

div#sliding-popup {
    background: #ccc;
    border-radius: 0 0 5px 0;
    width: 100%;
    height: auto;
}

button.decline-button.eu-cookie-compliance-default-button {
    border: 0;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
}

button.agree-button.eu-cookie-compliance-secondary-button {
    border: 0;
    margin: 1em;
    padding: 1em;
    background: #76cb76;
    border-radius: 5px;
}

button.find-more-button.eu-cookie-compliance-more-button.find-more-button-processed {
    border: 0;
    padding: 1% 5%;
    /* margin: 1em; */
    /* width: 90%; */
    font-size: 0.8rem;
    background: #dcdcdc;
    border-radius: 5px;
}

button.eu-cookie-withdraw-tab {
    border-radius: 0 0 5px 5px;
    border: 0;
    background: #ccc;
}

div#popup-text h2 {
    font-size: 1.5rem;
    margin-top: 1em;
}
/* Usernav */

ul.nav.navbar-nav {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.region.region-usernav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

div#block-cartflyout {
    width: auto;
    margin: auto 0;
}

.dropdown-menu {
    --bs-dropdown-color: #212529;
    --bs-dropdown-bg: #fff;
    --bs-dropdown-link-color: #212529;
    --bs-dropdown-link-hover-color: #1e2125;
    --bs-dropdown-link-hover-bg: #e9ecef;
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #4b4c4d;
    --bs-dropdown-header-color: #6c757d;
    background-color: #737373;
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}

/* Taxonomy page */

article.contextual-region.node.node--type-article.node--view-mode-teaser h2 {
    display: none;
}

/* slidesshow thumbnails */

.views-content-field-produkt-bilder {
    float: left;
}