/**
 * @file
 * Subtheme specific CSS.
 */

div#sliding-popup {
    background: #ccc;
    width: 100%;
    padding: 2vw;
    margin: 0;
    z-index: 1;
}

.eu-cookie-compliance-message {
    float: left;
    max-width: 60%;
}

.eu-cookie-compliance-buttons {
    float: right;
    max-width: 40%;
}

div#popup-text h2 {
    font-size: large;
}

#popup-text p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: smaller;
}

button.agree-button.eu-cookie-compliance-secondary-button {
    button.agree-button.eu-cookie-compliance-secondary-button
    background-color: #addfad;
    border: 0;
    border-radius: 3px;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}


button.decline-button.eu-cookie-compliance-default-button {
   background-color: #d7b7b7;
    border: 0;
    border-radius: 3px;
    padding: 1vw;
}


button.find-more-button.eu-cookie-compliance-more-button {
    background-color: #c3c3c3;
    border: 0;
    border-radius: 3px;
    padding: 0.5vw;
    font-size: smaller;

}


/**** Slideshow ****/

div#views_slideshow_pager_field_item_bottom_slideshow-block_1_0,
div#views_slideshow_pager_field_item_bottom_slideshow-block_1_1,
div#views_slideshow_pager_field_item_bottom_slideshow-block_1_2,
div#views_slideshow_pager_field_item_bottom_slideshow-block_1_3,
div#views_slideshow_pager_field_item_bottom_slideshow-block_1_4 {
    float: left;
    margin-right: 4px;
}

div#widget_pager_bottom_slideshow-block_1 {
    background: #efefef;
}

.views-slideshow-controls-bottom.clearfix {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 2vw;
}

/**** Tabell ****/

tr th.views-field {
    color: #333;
}

table.row > * {
  padding-right: calc(var(--bs-gutter-x) * .0);
  padding-left: calc(var(--bs-gutter-x) * .0);
}


